.startButton{
    width: 300px;
    height: 50px;
    background-color: yellow;
    border-radius: 10px;
    font-size: 30px;
}

.answerButton{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-color: rgb(86, 255, 114);
    font-size: 30px;
    margin: 10px;
}

.difficultButton{
    width: 100px;
    height: 40px;
    background-color: green;
    border-radius: 10px;
}

.selectedDifficultButton{
    width: 100px;
    height: 40px;
    background-color: red;
    border-radius: 10px;
}