.startButton{
    width: 300px;
    height: 50px;
    background-color: yellow;
    border-radius: 10px;
    font-size: 30px;
}

.answerButton{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-color: rgb(86, 255, 114);
    font-size: 30px;
    margin: 10px;
}

.difficultButton{
    width: 150px;
    height: 50px;
    background-color: green;
    border-radius: 10px;
}

.selectedDifficultButton{
    width: 150px;
    height: 50px;
    background-color: red;
    border-radius: 10px;
}

.settingsButton{
    width: 300px;
    height: 50px;
    background-color: rgb(255, 136, 0);
    border-radius: 10px;
    font-size: 30px;
}

.closeButton{
    background-color: red;
    border-radius: 5px;
    width: 30px;
    height: 30px;
}