.retultsContainer{
    height: min-content;
    width: max-content;
}

.restartButtonContainer{
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}

.restartButton{
    margin: 10px;
    font-size: larger;
}