.header{
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px;
    position: relative; 
}

.gameName{
    display: flex;
}

.nameContainer{
    font-size: 30px;
    color: rgb(215, 215, 215);
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.name{
    margin: 0;
}

.userPanel{
    position: absolute;
    right: 10px;
    display: flex;
    gap: 20px;
}